@media (max-width:768px) {
    .s1{
        padding-bottom: 160px;
        background-size: 1400px;
        background-position: -300px 40px;
        height: 80vh;
        text-align: center;
    }

    .s1 h1{
        font-size: 27px;
        margin-bottom: 10px;
    }

    .s1 p{
        font-size: 20px;
        margin-bottom: 30px;
    }

    .s1 a{
        padding: 15px;
        font-size: 17px;
    }

    .s2 h1{
        font-size: 30px;
    }

    .caixas{
        flex-direction: column;
    }

    .caixa{
        margin-left: 0px;
    }

    .caixa img{
        width: 700px;
    }

    .caixa h2{
        font-size: 25px;
    }

    .caixa p{
        font-size: 20px;
    }

    .caixa a{
        font-size: 20px;
        padding: 15px;
        width: 100%;
        margin-bottom: 10px;
    }

    .s3 h1{
        font-size: 30px;
    }

    .s3 p{
        margin: auto;
        width: 650px;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .s3 .caixa{
        width: 720px;
    }

    .s3 .caixa img{
        width: 400px;
    }

    .s4 h1{
        font-size: 30px;
    }

    .s4 .caixa{
        width: 720px;
    }

    .s4 .caixa h2{
        font-size: 25px;
    }

    .s4 .caixa p{
        text-align: center;
        font-size: 23px;
        width: 600px;
    }

    .formulario form{
        margin-right: 0px;
    }

    form input{
        width: 440px;
    }

    form textarea{
        width: 440px;
    }

    .s5 .caixaImg{
        margin-bottom: 90px;
    }

    .s5 .caixaImg img{
        width: 90%;
    }
}